doctype html
html(lang="en")
  head
    title= "some-sass-mixins demo"
    link(rel="stylesheet" href="style.css")
  body

    - getClass = (e) => '.'+e

    section.carets
      h1 shapes

      each val in ['top', 'bottom', 'right', 'left']
        - classname = 'caret-'+val
        span(class=classname)
          code= getClass(classname)
        br

    section
      h1 triangles

      .triangles
        each val in ['up', 'down', 'right', 'left']
          - classname = 'triangle-'+val
          .triangle(class=classname)
            code= getClass(classname)

    section.spacing
      h1 spacing - atomic
      h2 paddings

      each val in ['p', 'pt', 'pb']
        - var n = 0;
        while n <= 2
          - classname = val+'-'+(n * 10)
          .div(class=classname)
            code= getClass(classname)
          - n++

      h2 margins

      each val in ['m', 'mt', 'mb']
        - var n = 0;
        while n <= 2
          - classname = val+'-'+(n * 10)
          .div(class=classname)
            code= getClass(classname)
          - n++

    section.colors
      h1 colors - atomic

      each val in ['blue', 'green']
        - classnames = 'color-'+val
        .div(class=classnames)
          code= getClass(classnames)

      each val in ['blue', 'green']
        - classnames = 'bg-'+val
        .div(class=classnames)
          code= getClass(classnames)

    section.fonts
      h1 font sizes - atomic

      each val in [10, 14, 16, 20]
        - classnames = 'fs-'+val
        .div(class=classnames)
          code= getClass(classnames)
