doctype html
html(lang="en")
  head
    title= name
    link(rel="stylesheet" href="style/main.css")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/dracula.min.css")
  body

    - getClass = (e) => '.'+e
    - NPM_LINK = 'https://npmjs.com/package/some-sass-mixins'
    - REPO_LINK = 'https://github.com/adekbadek/some-sass-mixins'
    - REPO_FILES = `${REPO_LINK}/blob/master/src`
    - REPO_RELEASES = `${REPO_LINK}/releases`
    - ATOMIC_TITLE = 'atomic (aka functional) classes generators'
    - OTHER_TITLE = 'other mixins'

    include mixins
    
    section.section
      .section__inner
        h1.dib= name
        .right.pt-20
          a.fs-16(href=REPO_RELEASES)= `v${version}`
          br
          br
          a.fs-16(href=REPO_LINK) github
          br
          a.fs-16(href=NPM_LINK) npm
        p= description
        p
          img(src='https://img.shields.io/npm/dt/some-sass-mixins.svg')
        .mt-30
          +TOCList(ATOMIC_TITLE, 'atomic', ['spacing', 'fonts', 'colors'])
          +TOCList(OTHER_TITLE, 'other', ['media', 'spritesheet', 'size', 'hdpi', 'shapes', 'decoration', 'pseudo'])
          

    +inHeader
      h2(id='in-sect-atomic').fs-35.m-0= ATOMIC_TITLE
      blockquote.mt-20.mb-10.mlr-0
        | Atomic CSS is the approach to CSS architecture that favors small, single-purpose classes with names based on visual function.
      a(target='_blank' href='https://css-tricks.com/lets-define-exactly-atomic-css/')
        | CSS-Tricks
    include sections/spacing
    include sections/fonts
    include sections/colors

    +inHeader
      h2(id='in-sect-other').fs-35.m-0= OTHER_TITLE
    include sections/media
    include sections/spritesheet
    include sections/size
    include sections/hdpi
    include sections/shapes
    include sections/decoration
    include sections/pseudo

  script(src="highlight.pack.js")
  script 
    | hljs.initHighlightingOnLoad()
